Node-RED flow
[{"id":"c1ce68e1.d0ff48","type":"tab","label":"Fingerprint sensor","disabled":false,"info":""},{"id":"84474f69.c055c","type":"mqtt in","z":"c1ce68e1.d0ff48","name":"","topic":"node/fingerprint-sensor:0/enroll/request","qos":"2","datatype":"auto","broker":"e649966c.8c2af8","x":260,"y":220,"wires":[["cf7a93c8.4275d"]]},{"id":"8eb3fbcd.cd0058","type":"change","z":"c1ce68e1.d0ff48","name":"","rules":[{"t":"set","p":"enrolment","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":100,"wires":[[]]},{"id":"cf7a93c8.4275d","type":"change","z":"c1ce68e1.d0ff48","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"enrolment","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":220,"wires":[["abd62dfe.4016d"]]},{"id":"ebd894b2.c6cdd8","type":"ui_switch","z":"c1ce68e1.d0ff48","name":"","label":"Enroll","group":"57ff470b.93fdf8","order":0,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":450,"y":100,"wires":[["8eb3fbcd.cd0058"]]},{"id":"abd62dfe.4016d","type":"mqtt out","z":"c1ce68e1.d0ff48","name":"","topic":"node/fingerprint-sensor:0/finger/-/start/enroll","qos":"","retain":"","broker":"e649966c.8c2af8","x":930,"y":220,"wires":[]},{"id":"e649966c.8c2af8","type":"mqtt-broker","z":"","name":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"57ff470b.93fdf8","type":"ui_group","z":"","name":"Default","tab":"11207769.c31889","disp":true,"width":"6","collapse":false},{"id":"11207769.c31889","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]